:root {
    --primary-color: #4913ec;
    --secondary-color: #e6e0fa;
    --primary-bg: #f6f6f8;
    --secondary-bg: #fefefe;
    --primary-text: #4a4559;
    --secondary-text: #64519d;
    --border-color: #ebe9f4;
    --text-color: #000000;
}
