@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("./styles/root.css");
@import url("./styles/theme.css");

/* Set default body styles */

body {
    line-height: 1.5;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Images Setup */

img,
picture {
    max-width: 100%;
    display: block;
}

/* Form Element Setup */

input,
button,
textarea,
select {
    font: inherit;
}

/* Reset list style to none */

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

/* Reset lists padding */

menu,
ol,
ul {
    padding-left: 0;
}

/* Reset list markers */

article ol,
article ul {
    list-style-position: inside;
}

/* Reset Cursor for Elements */

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
    cursor: pointer;
}

/* Custom CSS */

.activeLink {
    color: var(--primary-color);
}

@import "tailwindcss";
